# Зависимости npm
node_modules/

# Скомпилированные CSS-файлы
css/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы редакторов (если используешь VSCode)
.vscode/

# Системные файлы (Windows, macOS)
.DS_Store
Thumbs.db

*.log

